/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Nunito:wght@300;400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: black;
}
/* Header - start */
.custom-toggler .navbar-toggler-icon {
  background-image: url(./img/icon.png);
}
.custom-toggler.navbar-toggler {
  border-color: black;
}
header h1 {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-weight: 800;
}
header h3 {
  color: #ffab2d;
  font-weight: 600;
}
header h4 {
  color: #686766;
}
header {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4),
      rgba(0, 0, 0, 0.2)
    ),
    url("./img/3506328.jpg");
  /* background-image: url(./img/3506328.jpg); */
  background-attachment: fixed;
  font-weight: bold;
  height: 100vh;
  background-size: cover;
  color: black;

  padding: 20px;
  letter-spacing: 1.5;
}
header .container {
  margin-top: 80px;
  padding: 20px;
}
.profile-photo {
  max-width: 100%;
  height: 350px;
  width: auto;
  border-radius: 24px;
  position: relative;
  left: 100px;
  opacity: 0.95;
  box-shadow: 3px 3px 8px 1px rgba(255, 208, 1, 0.404);
}
header .nav-link {
  color: black;
}
header .nav-link:hover {
  color: #ffab2d;
}
.panel-1 {
  height: 400px;
  background-color: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
  border-radius: 15px 50px;
}

/* MY SKILLS -END */
.section-1 {
  margin-top: 8rem;
}
.section-1 .container {
  text-align: center;
}
.section-1 .container h1 {
  font-size: 5rem;
  padding-top: 10rem;
}
.section-1 .skills {
  padding: 5rem 2rem;
}
.section-1 .card {
  width: 20rem;
  margin-top: 4rem;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}
.section-1 .card .card-text {
  padding: 0.5em;
}

.section-1 .card .card-body a {
  font-size: 1.5em;
}
.section-1 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 24px;
  width: 60%;
}

.section-2 {
  padding: 8rem 0;
}
.section-2 .row .col-md-6 .my-image img {
  opacity: 0.8;
  width: 50%;
  border-radius: 0.2em;
}

.section-2 .row .col-md-6:last-child {
  position: relative;
}
.section-2 .row .col-md-6 {
  margin: 8rem 0;
}
.section-2 .row .col-md-6 .panel {
  position: absolute;
  top: 3rem;
  left: -8rem;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 4rem 7rem;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: "Rubik", sans-serif;
  z-index: 1;
}

.section-2 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-2 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ffab2d;
}

/* media query */

@media (max-width: 992px) {
  .panel {
    margin: 20px auto;
  }
}
